<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="../../../../../assets/img/logo_light.png" alt="logo" width="50">
        <p style="color:green;font-size:16px;font-weight:900;">Solution</p> 
    </div>
    <p style="padding: 0 0 0 35px;font-size:15px">Profile</p>
    <div class="list-group list-group-flush">
      <a type="button" class="list-group-item list-group-item-action" style="background-color: #011B30;color: #fff;cursor:pointer" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Moments <i class="fa fa-angle-down float-right"></i></a>

      <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <a [routerLink]="['/moments']" [routerLinkActive]="['active']" class="sub-menu sub-menu-action">Moment lists</a>
        <a [routerLink]="['/add/moment', '']" [routerLinkActive]="['active']" class="sub-menu sub-menu-action">Add new moment</a>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->


