/* a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #dae0e5!important;
} */
.sub-menu:hover {
    text-decoration: none;
    font-weight: bold;
    color: #011B30;
}

.sub-menu {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.sub-menu-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

/* .sub-menu.active::before {content: "•"; color: #1c1c00;margin: 5px;} */

.sub-menu.active{
    /* display: list-item;                                                 */
    /* list-style-type: disc;        */
    /* list-style-position: inside; */
    /* background-color: #1d4a6f; */
    font-weight: bold;
    color: #1c1c00;
}