<div class="container mt-2">
    <div class="row" style="border: 1px solid rgb(238, 233, 233);padding:8px;font-weight: bold;">Add New Moment</div>

    <div class="mt-4" style="border: 1px solid rgb(238, 233, 233);padding:8px;font-weight: bold;">
        <div style="padding: 40px;">
            <form [formGroup]="momentForm" (ngSubmit)="addMonent()"> 
                <div class="form-group col-md-10">
                    <label for="for-title">Title</label>
                    <input type="text" formControlName="title" [ngModel]="momentById ? momentById.title : ''" [ngClass]="{ 'is-invalid': valid && f.title.errors }" class="form-control" class="form-control inputtext" placeholder="title">

                    <div *ngIf="valid && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">title is required</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="for-tag">Tags</label>
                    <input type="text" formControlName="tags" [ngModel]="momentById ? momentById.tags : ''" [ngClass]="{ 'is-invalid': valid && f.tags.errors }" class="form-control" class="form-control inputtext" placeholder="tags">

                    <div *ngIf="valid && f.tags.errors" class="invalid-feedback">
                        <div *ngIf="f.tags.errors.required">tag is required</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="for-tag">Image</label>
                    <input type="file" class="form-control" (change)="getImageData($event)">
                    
                    <input type="hidden" formControlName="image" [ngModel]="momentById ? momentById.image : ''" [ngClass]="{ 'is-invalid': valid && f.image.errors }" class="form-control" class="form-control inputtext" placeholder="image">

                    <div *ngIf="valid && f.image.errors" class="invalid-feedback">
                        <div *ngIf="f.image.errors.required">image is required</div>
                    </div>
                </div>

                <div style="text-align: center;margin-top:4%;">
                    <button type="submit" class="btn btn-default" style="background:#011B30;color:#fff;">Submit</button>
                </div>
            </form>
        </div>
    </div>

    
</div>