<div class="col-md-12 main-div" style="background-color: #011B30;">
  <div style="color: #fff;text-align: center;padding:30px;">
    <img class="img-responsive" src="/assets/img/logo_light.png" width="100">
      <p style="color:#fff;font-size:20px;font-weight:900;">Solution</p> 
  </div>
</div>

<div class="col-md-12">
  <div class="main">
    <section class="sign-in">
      <div class="container_new">
          <div class="signin-content">
              <div class="signin-form">
                <div class="form-title">
                  <h2>Sign in</h2>
                  <p>To start using the app</p>
                </div>
                  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                    <p style="font-weight:bold;padding-bottom: 10px;">Enter email id</p>
                    <div class="form-group">
                      <label for="email"><i class="fa fa-user-o"></i></label>
                      <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': (f.email.touched || valid) && f.email.errors }" class="form-control" placeholder="test@gmail.com" maxlength="40" />

                        <div *ngIf="(valid || f.email.touched) && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">email-id is required</div>
                          <div *ngIf="f.email.errors.email">enter valid email-id</div>
                        </div>
                    </div>

                      <p style="font-weight:bold;padding-bottom: 10px;">Enter Password</p>
                      <div class="form-group">
                          <label for="your_pass"><i class="fa fa-lock"></i></label>
                          <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': (f.password.touched || valid) && f.password.errors }" class="form-control" placeholder="Password" maxlength="6" />

                          <div *ngIf="(f.password.touched || valid) && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                            <div *ngIf="f.password.errors.minlength">enter 6 digit password</div>
                          </div>
                      </div>
  
                      <div class="form-group form-button signInBtn">
                          <input type="submit" name="signin" id="signin" class="form-submit" value="Sign In"/>
                      </div>

                      <div class="form-group" style="text-align: center;">
                        <p>Not a member?  <a [routerLink]="['/signup']" class="term-service">Sign Up</a></p>
                    </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>