<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
  <i class="fa fa-reorder" style="font-size:24px"></i>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <!-- <img src="../../../../assets/img/logo_light.png" alt=""> -->
        <a class="dropdown-item" style="color: green;"><i class="fa fa-user" style="font-size: 16px;"></i> {{userName}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-item" style="cursor: pointer;" (click)=logout();>Logout <i class="fa fa-sign-out" style="font-size: 16px;"></i></a>
      </li>
    </ul>
  </div>
</nav>