<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-header></app-header>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>