<div class="container mt-2">
    <div class="row" style="border: 1px solid rgb(238, 233, 233);padding:8px;font-weight: bold;">Moments</div>
    
    <div class="row mt-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Tag</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let moment of returnedArray; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td><img src="{{imgPath + moment.image}}" alt="img" style="display: block; border-radius: 50%; width: 50px; height: 50px; margin: 0 auto;"></td>
                <td>{{moment.title}}</td>
                <td>{{moment.tags}}</td>
                <td style="text-align: center;">
                    <button class="btn btn-info mr-1" [routerLink]="['/add/moment', moment._id]"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" (click)="deleteModal(deleteModel, moment._id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr *ngIf="momentLength == 0"><td colspan="5">No Data Found</td></tr>
            </tbody>
          </table>

          <div class="row mr-10">
            <div class="col-xs-12 col-12">
              <pagination *ngIf="momentLength > 5" [totalItems]="momentLength" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"></pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">Are you sure to delete ?</div>

  <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="submit" class="btn btn-danger" (click)="deleteUser(userId)">Delete</button>
  </div>
</ng-template>

