<div class="col-md-12 main-div" style="background-color: #011B30;">
    <div style="color: #fff;text-align: center;padding:30px;">
      <img class="img-responsive" src="/assets/img/logo_light.png" width="100">
        <p style="color:#fff;font-size:20px;font-weight:900;">Solution</p> 
    </div>
  </div>
  
  <div class="col-md-12">
    <div class="main">
      <section class="sign-in">
        <div class="container_new">
            <div class="signin-content">
                <div class="signin-form">
                  <div class="form-title">
                    <h2>Sign up</h2>
                    <p>To be a member</p>
                  </div>

                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                        <div class="form-row form_row">
                            <div class="col">
                                <p class="form_para">First Name</p>
                                <label for="first_name" class="form_label"><i class="fa fa-user-o"></i></label>
                                <input type="text" formControlName="first_name" [ngClass]="{ 'is-invalid': (f.first_name.touched || valid) && f.first_name.errors }" class="form-control" placeholder="first first_name" maxlength="40" />

                                <div *ngIf="(f.first_name.touched || valid) && f.first_name.errors" class="invalid-feedback">
                                  <div *ngIf="f.first_name.errors.required">first name is required</div>
                                  <div *ngIf="f.first_name.errors.minlength">enter 3 character</div>
                                </div>
                            </div>

                            <div class="col form_col">
                                <p class="form_para">Last Name</p>
                                <label for="last_name" class="form_label"><i class="fa fa-user-o"></i></label>
                                <input type="text" formControlName="last_name" [ngClass]="{ 'is-invalid': (f.last_name.touched || valid) && f.last_name.errors }" class="form-control" placeholder="last last_name" maxlength="40" />

                                <div *ngIf="(f.last_name.touched || valid) && f.last_name.errors" class="invalid-feedback">
                                  <div *ngIf="f.last_name.errors.required">last name is required</div>
                                  <div *ngIf="f.last_name.errors.minlength">enter 3 character</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row form_row">
                            <div class="col">
                                <p class="form_para">Mobile No.</p>
                                <label for="mobile_no" class="form_label"><img src="../../../../../assets/img/flag.png" width="20"></label>
                                <input type="text" formControlName="mobile_no" [ngClass]="{ 'is-invalid': (f.mobile_no.touched || valid) && f.mobile_no.errors }" class="form-control" placeholder="mobile no" maxlength="10" />

                                <div *ngIf="(f.mobile_no.touched || valid) && f.mobile_no.errors" class="invalid-feedback">
                                  <div *ngIf="f.mobile_no.errors.required">mobile no is required</div>
                                  <div *ngIf="f.mobile_no.errors.minlength">enter 10 digit valid mobile no</div>
                                </div>
                            </div>

                            <div class="col form_col">
                                <p class="form_para">Email-ID</p>
                                <label for="email_id" class="form_label"><i class="fa fa-envelope-o"></i></label>
                                <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': (f.email.touched || valid) && f.email.errors }" class="form-control" placeholder="test@gmail.com" maxlength="40" />

                                <div *ngIf="(valid || f.email.touched) && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">email-id is required</div>
                                  <div *ngIf="f.email.errors.email">enter valid email-id</div>
                              </div>
                            </div>
                        </div>

                        <div class="form-row form_row">
                            <div class="col">
                                <p class="form_para">City</p>
                                <label for="city" class="form_label"><i class="fa fa-street-view"></i></label>
                                <input type="text" formControlName="city" [ngClass]="{ 'is-invalid': (f.city.touched || valid) && f.city.errors }" class="form-control" placeholder="city" maxlength="40" />

                                <div *ngIf="(f.city.touched || valid) && f.city.errors" class="invalid-feedback">
                                  <div *ngIf="f.city.errors.required">city is required</div>
                              </div>
                            </div>
                            
                            <div class="col form_col">
                                <p class="form_para">Password</p>
                                <label for="password" class="form_label"><i class="fa fa-lock"></i></label>
                                <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': (f.password.touched || valid) && f.password.errors }" class="form-control" placeholder="Password" maxlength="6" />

                                <div *ngIf="(f.password.touched || valid) && f.password.errors" class="invalid-feedback">
                                  <div *ngIf="f.password.errors.required">password is required</div>
                                  <div *ngIf="f.password.errors.minlength">enter 6 digit password</div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group form-button signInBtn">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Sign Up"/>
                        </div>
                        <div class="form-group" style="text-align: center;">
                          <p>Already a member?  <a [routerLink]="['/signin']" class="term-service">Sign In</a></p>
                      </div>
                    </form>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>